streamlit
pandas
langchain
langchain-community
langchain-text-splitters
langchain-core
sentence-transformers
faiss-cp
langchain-openai
faiss-cpu
sentence-transformers
transformers
torch
huggingface-hub
pandas
scikit-learn
numpy
